<div class="jumbotron_cto_mentor">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-md-6">
      <h1>Shane Pinnell</h1>
      <p class="lead">CTO Mentor Candidate for the Uncommon Cohort</p>
    </div>
    <div class="col-xs-12 col-sm-7 col-md-6">
    	<div class="pull-right">
    		<ul class="list-inline">
    			<li><a href="http://shanepinnell.github.io/cto_mentor">Portfolio</a></li>
    			<li><a href="http://shanepinnell.github.io/cto_mentor/biography.html">Biography</a></li>
        	<li><a href="http://shanepinnell.github.io/cto_mentor/summary.html">Curriculum Summary</a></li>
        </ul>
      </div>
		</div>
	</div>
</div>