<div class="jumbotron">
  <div class="row">
    <div class="col-sm-3 col-md-2 hidden-xs">
      <img src="assets/images/shane-pinnell.png" class="img">
    </div>
    <div class="col-xs-11 col-sm-9 col-md-10 col-xs-offset-1 col-sm-offset-0">
      <h1>Shane Pinnell</h1>
      <p class="lead"><a href="http://cetpa.net/" title="California Educational Technology Professional's Association">CETPA</a> <a href="http://cetpa.net/CETPA/Programs/CTO_Mentor_Program/CETPA/Programs/CTO_Mentor/CTO_Mentor_Program2.aspx" title="CETPA Certified Chief Technology Officer">Certified Chief Technology Officer</a></p>
    </div>
  </div>
</div>