div.jumbotron {
  background-image:url('/assets/images/hero-bg.png');
}

.bs-footer {
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 30px;
  color: #777;
  text-align: left;
  border-top: 1px solid #e5e5e5;
}

div.carousel {
  max-height:312px;
}

div.carousel-inner img{
}